@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .container {
        @apply w-full mx-auto px-6 max-w-5xl;
    }
    section .title {
        @apply text-4xl md:text-4xl lg:text-5xl font-normal mb-0;
    }
    section .subtitle, h1 {
        @apply text-3xl md:text-4xl;
    }
    section p {
        @apply mt-5;
    }
    h4 {
        @apply font-semibold;
    }
    .project-headings {
        @apply font-semibold text-xl mb-2;
        line-height: 1.6;
    }
    a.arrow {
        @apply font-semibold hover:underline transform transition hover:scale-105 duration-300 ease-in-out
    }
    a.arrow:before {
        content: ' '
    }
    a.arrow:hover:before, a.hover:hover:after {
        width: calc(100% + 4px);
    }
    a.arrow:after {
        @apply absolute pointer-events-none;
        margin-top: 3px;
        margin-left: 9px;
        content: url("../icons/arrow-above.svg");
    }
    a.arrow:hover:after, a.arrow:focus:after {
        content: url("../icons/arrow-right.svg");
    }
    /* For Dark theme */
    .bg-primary-dark a.arrow:after {
        content: url("../icons/white/arrow-above.svg")!important;
    }
    .bg-primary-dark a.arrow:hover:after, .bg-primary-dark a.arrow:focus:after {
        content: url("../icons/white/arrow-right.svg")!important;
    }
    .backtotop {
        @apply cursor-pointer text-xl p-2 fixed;
        bottom: 80px;
        right: 30px;
        z-index: 99;
        outline: none;
    }
    .light-text-color {
        @apply text-gray-800;
    }    
}

@media only screen and (max-width: 900px) {
    .backtotop {
        bottom: 20px;
    }
}

img[data-fancybox="default"], img[data-fancybox="certificate"] {
    cursor: zoom-in;
}
