---
// @ts-ignore
import { getCollection } from 'astro:content';
const skills = await getCollection('skills');
// sort by step.
skills.sort((a: any, b: any) => {
	return b.data.step - a.data.step;
});
---

<main class="mt-2 mb-2">
	<section class="py-10 px-5 bg-gray-200 dark:bg-gray-900 dark:text-gray-400 container" id="skills">
		<h3 class="subtitle dark:text-white prose">Skills</h3>
		<p class="prose dark:text-gray-400">
			As a student, I am constantly learning and expanding my knowledge. Some of the skills I have developed
			include:
		</p>
		<div class="grid md:grid-cols-3 mx-auto py-5">
			{
				skills.map(async (skill) => {
					const { Content } = await skill.render();

					return (
						<div class="flex flex-col px-4 py-4">
							<div class="flex-grow flex flex-col">
								<h4 class="mt-0 dark:text-white prose">{skill.data.title}</h4>
								<p class="prose -mt-4">
									<Content />	
								</p>
							</div>
						</div>
					);
				})
			}
		</div>
	</section>
</main>
