---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<div class="bg-blue-300 dark:bg-blue-700">
		Hellow
	</div>
</Layout>
