---
import { meta } from '../../utils/const';

import Education from './Education.astro';
import Certificate from './Certificate.astro';
import Spacer from './Spacer.astro';
---

<Spacer color="bg-gray-200" />

<div id="education" class="flex justify-center mt-6 mb-4">
	<a
		href="javascript:void(0)"
		class="educert-toggle active -ml-4 mr-4 float-right prose dark:text-gray-300 font-bold hover:text-blue-500"
	>
		Education
	</a>
	<a
		href="javascript:void(0)"
		class="educert-toggle float-right prose dark:text-gray-300 font-bold hover:text-blue-500"
	>
		Certificates
	</a>
</div>
<hr class="short" />

<div id="edu" class="">
	<!-- Educations -->
	<Education />
	<Spacer />
</div>
<div id="cert" class="hidden">
	<!-- Certificate -->
	<Certificate />
</div>

<script lang="js" is:inline>
	// get button by class educert-toggle
	const educert = document.querySelectorAll('.educert-toggle');
	for (let i = 0; i < educert.length; i++) {
		educert[i].addEventListener('click', function () {
			const edu = document.getElementById('edu');
			const cert = document.getElementById('cert');
			// Toggle the class.
			edu.classList.toggle('hidden');
			cert.classList.toggle('hidden');
			// add active class to the clicked button, and remove from the other.
			educert[i].classList.add('active');
			educert[i === 0 ? 1 : 0].classList.remove('active');
		});
	}
</script>
