---
import CollaboratorComp from '../../components/CollaboratorComp.vue';
---

<main class="bg-background">
	<section class="container">
		<div class="block flex items-center gap-x-4">
			<img
				class="w-16 h-16 md:w-32 md:h-32 rounded-full mt-12"
				src="../assets/images/umer.jpg"
				alt="Muhammad Umer Farooq"
			/>
			<div class="block mt-16">
				<h1 class="title dark:text-primary prose">Muhammad Umer Farooq</h1>
				<CollaboratorComp
					name="lablent"
					picture="../assets/images/umer-removebg.png"
					link="https://github.com/lablnet"
					contributionsStatus="true"
					client:load
					class="text-secondary"
				/>
			</div>
		</div>
		<div class="md:ml-12">
			<p class="prose text-justify text dark:text-text">
				Hello, I am a Professional Software Developer with a passion for working on open-source products.
			</p>
	
			<p class="prose text-justify text dark:text-text">
				I have extensive experience in Full Stack development, including web, mobile, and desktop applications. I have also worked with web scraping, web crawling, and web API integrations. I have worked on a wide range of projects and have interest in deep learning, computer vision, deterministic algorithms, kernel development, compilers, and cryptography.
			</p>
			<p class="prose text-justify mb-6 text dark:text-text">
				I am highly motivated to work on open-source projects and contribute to the community. I am always looking for opportunities to collaborate and learn from others.			</p>
		</div>
	</section>
</main>

