---
// @ts-ignore
import { getCollection } from 'astro:content';
const skills = await getCollection('skills');
import { meta } from '../../utils/const';

// sort by step.
skills.sort((a: any, b: any) => {
	return a.data.step - b.data.step;
});
---

<main class="mt-2 mb-2">
	<section class="py-10 px-5 bg-background dark:bg-background container" id="skills">
		<h3 class="subtitle prose dark:text-primary">{ meta.skills.title }</h3>
		<p class="prose dark:text-text">
			{ meta.skills.description }
		</p>
		<div class="grid md:grid-cols-3 mx-auto py-5">
			{
				skills.map(async (skill) => {
					const { Content } = await skill.render();

					return (
						<div class="flex flex-col px-4 py-4">
							<div class="flex-grow flex flex-col">
								<h4 class="mt-0 prose dark:text-primary">{skill.data.title}</h4>
								<div class="prose dark:text-text">
									<Content />	
								</div>
							</div>
						</div>
					);
				})
			}
		</div>
	</section>
</main>
