---
const { title = "It's empty here", description = "We couldn't find anything to show here" } = Astro.props;
---

<div class="flex flex-col items-center text-gray-600">
	<i class="fa-regular fa-folder fa-3x mb-4"></i>
	<h1 class="text-xl font-semibold">{title}</h1>
	<p class="text-md text-center">{description}</p>
</div>
