@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);

@tailwind base;

@tailwind components;

@tailwind utilities;


@layer utilities {
    section .title {
        @apply text-4xl md:text-5xl lg:text-6xl font-normal mb-0;
    }
    section .subtitle {
        @apply text-3xl md:text-4xl;
    }
    section p {
        @apply mt-5;
    }
    h4 {
        @apply font-semibold;
    }
}

.backtotop {
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
}

@media only screen and (max-width: 900px) {
    .backtotop {
        bottom: 20px;
    }
}
