---
let medias = [
	{
		picture: './assets/icons/twitter.svg',
		link: 'https://twitter.com/lablnet',
	},
	{
		picture: './assets/icons/upwork.svg',
		link: 'https://www.upwork.com/freelancers/~010c32fc720f5f9624',
	},
	{
		picture: './assets/icons/fiverr.svg',
		link: 'https://fiverr.com/umerlablnet01',
	},
];
---

<!-- Footer -->
<footer class="text-text body-font">
	<div class="bg-background border-t-2 border-primary dark:text-text dark:bg-secondary">
		<div
			class="container
      px-5
      py-6
      mx-auto
      flex
      items-center
      sm:flex-row
      flex-col"
		>
			<a
				href="/"
				class="flex
        title-font
        font-medium
        items-center
        md:justify-start
        justify-center"
			>
				<span class="ml-3">
					<img src="./assets/images/muf.png" style="width: 80px; height 80px;" alt="Muhammad Umer Farooq" />
				</span>
			</a>
			<p
				class="inline-flex
        text-sm
        text-text
        dark:text-text
        sm:ml-6 sm:mt-0
        mt-4"
			>
				Made with &nbsp;
				<img class="h-6 w-6" src="../assets/icons/heart.gif" />
				&nbsp; By &nbsp;
				<a class="font-bold" href="https://github.com/lablnet" target="_blank" rel="noopener noreferrer"
					>Muhammad Umer Farooq</a
				>
			</p>
			<span
				class="inline-flex
        sm:ml-auto sm:mt-0
        mt-4
        justify-center
        sm:justify-start"
			>
				<a
					href="https://github.com/lablnet"
					target="_blank"
					rel="noopener noreferrer"
					class="ml-3 text-text mt-1 github">ㅤ</a
				>
				{
					medias.map((media) => (
						<a href={media.link} target="_blank" rel="noopener noreferrer" class="ml-3 text-text">
							<img style="width: 1.6em; height: 1.6em" src={media.picture} />
						</a>
					))
				}
				<a
					href="https://linkedin.com/in/lablnet"
					target="_blank"
					rel="noopener noreferrer"
					class="ml-3 text-text mt-1 linkedin">ㅤ</a
				>
			</span>
		</div>
	</div>
</footer>
