<!-- Footer -->
<footer class="text-text body-font">
	<div class="bg-background border-t-2 border-primary dark:text-text dark:bg-secondary">
		<div
			class="container
      px-5
      py-6
      mx-auto
      flex
      items-center
      sm:flex-row
      flex-col"
		>
			<a
				href="/"
				class="flex
        title-font
        font-medium
        items-center
        md:justify-start
        justify-center"
			>
				<span class="ml-3">
					<img src="./assets/images/muf.png" style="width: 80px; height 80px;" alt="Muhammad Umer Farooq" />
				</span>
			</a>
			<p
				class="inline-flex
        text-sm
        text-text
        dark:text-text
        sm:ml-6 sm:mt-0
        mt-4"
			>
				Made with &nbsp;
				<img class="h-6 w-6" src="../assets/icons/heart.gif" />
				&nbsp; By &nbsp;
				<a class="font-bold" href="https://github.com/lablnet" target="_blank" rel="noopener noreferrer"
					>Muhammad Umer Farooq</a
				>
			</p>
		</div>
	</div>
</footer>
