---
import '../styles/index.css';

interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fortawesome/fontawesome-free/css/all.min.css';

import Header from './Header.astro';
import ProgressBar from '../components/ProgressBar.vue';

import Main from './Main.astro';
import Footer from './Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="title" content="Muhammad Umer Farooq" />
		<meta name="author" content="Muhammad Umer Farooq" />
		<meta name="url" content="https://lablnet.com/" />
		<meta name="type" content="website" />
		<meta name="image" content="../assets/images/umer.jpg" />
		<meta name=" keywords" content="portfolio,umer,web developer,software developer" />
		<meta name="description"
		  content="Hi there, I'm a Software Developer. I love building and rebuilding open source products. I have experience in Full Stack software development, including Web, Mobile applications, Desktop applications, web scraping, web crawling, and API integrations, working on many projects. Beside all these..." />
		<meta name="og:title" content="Muhammad Umer Farooq" />
		<meta name="og:author" content="Muhammad Umer Farooq" />
		<meta name="og:url" content="https://lablnet.com/" />
		<meta name="og:type" content="website" />
		<meta name="og:image" content="../assets/images/umer.jpg" />
		<meta name=" og:keywords" content="portfolio,umer,web developer,software developer" />
		<meta name="og:description"
		  content="Hi there, I'm a Software Developer. I love building and rebuilding open source products. I have experience in Full Stack software development, including Web, Mobile applications, Desktop applications, web scraping, web crawling, and API integrations, working on many projects. Beside all these..." />
		<meta name="theme-color" content="#ffffff" />
			  <meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
		<title>{title}</title>

		{!import.meta.env.DEV && (
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-JKMM6EQFM6"></script>
		<script lang="js">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-JKMM6EQFM6');
		</script>
		)}
	</head>
	<body id="app-theme" class="app-theme">
		<div class="light">
			<!-- Header -->
			<Header />
			<div class="">
				<ProgressBar client:only />
			</div>
			
			<!-- Main -->
			<Main><slot /></Main>

			<!-- Footer -->
			<Footer />

			<!-- Back to top Button -->
			<button
			class="backtotop hidden bg-gray-200 dark:bg-gray-900 mb-2"
			id="backtotop"
			title="Go to top"
		  >
			<i class="text-black dark:text-white fa fa-arrow-up"></i>
		  </button>
		</div>
	</body>

	<script src="../utils/theme.js"></script>
	<script lang="js">

		// mobile menu
		let menuVisible = false;

		function toggleMenu() {
			const nav = document.getElementById('nav');
			menuVisible = !menuVisible;
			// @ts-ignore
			nav.classList.toggle('hidden', !menuVisible);
		}

		let elements = document.getElementsByClassName('menu-item');
		for (let i = 0; i < elements.length; i++) {
			elements[i].addEventListener('click', toggleMenu);
		}
		// @ts-ignore
		document.getElementById('menu-button').addEventListener('click', toggleMenu);

		// back to top button handler.
		window.addEventListener('scroll', function () {
			let _top = document.querySelector('#backtotop');
			if (window.scrollY > 100) {
				_top.classList.remove('hidden');
			} else {
				_top.classList.add('hidden');
			}
		});

		// Back to top button
		let _top = document.querySelector('#backtotop');
		_top.addEventListener('click', function () {
			window.scrollTo(0, 0);
		});
	</script>
</html>
